@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    background-color: #dfe3eb;
}

.My-header {
  background-color: rgba(0, 0, 0, 0.7); 
  padding-block: 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 30%;
  transition: var(--transition-1);
  z-index: 4;
}

.My-header.active {
  padding-block: 12px;
  background: var(--bg-secondary);
  box-shadow: var(--shadow-1);
}

.My-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.nav-linkers {
  position: relative;
  width: max-content;
  margin-inline: auto;
  color: #80b4b5;
  font-family: var(--ff-poppins);
  font-size: var(--fs-1);
  padding: 34px;
  transform: translateY(50px);
  transition: 0.75s cubic-bezier(0.68, -0.55, 0.27, 2);
}

main { overflow-x: hidden; }

.hero {
  min-height: 100vh;
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 115px;
  margin-bottom: var(--section-padding);
}
.hero-section{
    display: flex;
    align-items: center;
    gap: 140px;
    padding: 40px;
}
.hero-banner {
  max-width: 500px;
  width: 105%;
  display: block;
  /* width: 260px;
  height: 260px; */
  margin-bottom: 40px;
}
/* .hero-banner picture{
   width: 260px;
   height: 260px;
} */
:is(.hero-social-list, .scroll-down) { display: none; }

.hero-content { max-width: 450px; }

.hero-title {
  text-align: center;
  margin-bottom: 30px;
}

.hero .btn-primary { margin-inline: auto; }

.container{
    display: flex;
    gap: 40px;
    padding: 40px;
    justify-content: flex-start;
}
.Available_Products{
    display: flex;
    grid-template-columns: repeat(4,1fr);
    width: 300px;
    padding: 20px;
    border-radius: 15px;
    background: #fff;
    border: 4px solid #ddd;
    text-align: center;
    position: relative;
    gap:20px;
    justify-content: flex-start;
}

.Available_Products img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 20px;
    padding: 20px;
}
.Cost_Price {
  margin-top: 12px;
  font-size: 20px;
  font-weight: bold;
  color: #2c3e50;
}

